*{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-color: rgb(163, 112, 247);

}

.card-container {
    background-color: aliceblue;
    width: 100%;
    max-width: 750px;
}

.card {
    margin-bottom: 10px;
    cursor: pointer;
    padding: 0.50rem;
    display: flex;
    align-items: center;
    text-align: center;
}

.card-body {
    padding: 0px;
}

h5 {
    font-size: 1.5rem;
}

#choose-quiz-button {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1001;
}

.burger-btn {
    font-weight: bold;
}

li{
    list-style-type: none;
}

.bg-quiz-choice {
    background-color: #f6f3ca
  }

.bg-quiz-choice-background{
    background-image: url(./imgs/background-7048576_640.jpg);
}

.btn-choice{
    background-color: #2fc1f2;
    font-weight:bold ;
}

@media (max-width: 525px) {

    #back-button,
    #next-button {
        width: 100%;
        margin-top: 10px;
    }

    #overvewContainer {
        flex-direction: column;
    }

    h5 {
        font-size: 1rem;
    }
}